# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Models
models/*.pkl
models/*.joblib
models/*.index

# Data
*.csv


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env

# Logs
*.log